/* General Styles */  
body {  
    font-family: "Roboto", sans-serif;  
    font-weight: 400;
    margin: 0;  
    padding: 0;  
    background-color: #f4f4f4; /* Light gray background */  
    color: #333; /* Dark gray text */  
}  

header {  
    background-color: #34495e; /* Dark blue-gray header */  
    color: white;  
    padding: 1em 0;  
    text-align: center; 
     
}  

header h1 {  
    margin: 0;  
    font-size: 2em;  
}  

nav {  
    margin-top: 1em; 
    background-color: black; /* Black background for navigation */   
} 
nav a {  
    color: white;  
    text-decoration: none;  
    padding: 0.5em 1em;  
    border-radius: 5px;   
    margin: 0 0.5em;  
    display: inline-block; /* Prevents the links from stacking on smaller screens */  
}  

nav ul {  
    display: flex;  
    list-style-type: none; /* Remove bullets */  
    padding: 10px 0; /* Padding for nav */  
    justify-content: none; /* Open justification for the navigation items */  
}  

nav ul li {  
    margin: 0 6em; /* Spacing between items */  
}  

nav ul li a {  
    color: white; /* Link color */  
    text-decoration: none; /* Remove underline */  
    border-radius: 5px; 
    
}  

/* Change link color on hover */  
nav ul li a:hover {  
    text-decoration: underline; /* Underline on hover */ 
    background-color: rgba(204, 19, 19, 0.8); 
}  


main {  
    max-width: 960px; /* Adjust as needed */  
    margin: 2em auto;  
    padding: 1em;  
    display: flex;  
    flex-wrap: wrap;  
    justify-content: space-around; /* Evenly distribute cards */  
}  

.card {  
    background-color: white;  
    border-radius: 5px;  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
    margin-bottom: 1em;  
    padding: 1em;  
    width: 45%; /* Adjust as needed, consider screen size */  
    box-sizing: border-box; /* Makes padding and border part of the element's total width */  
}  

.card h2 {  
    margin-top: 0;  
    color: #3498db; /* Blue heading */  
}  

.card img {  
    max-width: 50%;  
    height: auto;  
    border-radius: 5px;  
    margin-bottom: 1em;  
}  
/* Web Dev Resources Card */  
.card ul {  
    padding-left: 20px;  
    list-style-type: disc; 
    padding-top: 100px;  
    
}  

.card li {  
    margin-bottom:10px; 
    padding: 10px; 
    justify-content: space-around 
      
}  

.card li a {  
    color: #3498db; /* Blue links */  
    text-decoration: none; 
    
  
}  

.card li a:hover {  
    text-decoration: underline;  
}  

/* Footer Styles */  
footer {  
    background-color: #34495e;  
    color: white;  
    text-align: center;  
    padding: 1em 0;  
    font-size: 0.9em;  
}  

footer p {  
    margin: 0.5em 0;  
}  


/* Media Queries for Responsiveness */  
@media (max-width: 768px) {  
    .card {  
        width: 90%; /* Cards take up more width on smaller screens */  
    }  

    nav a {  
        display: block; /* Stack links on top of each other */  
        margin: 0.5em auto; /* Center the links and add some margin */  
        width: 80%; /* Make the links wider */  
    }  
} 